.title{
  font-family: Monthoers, Buxton, sans-serif;
  font-size: 31px;
}

.deleteButton{
  width: 25px;
  height: 25px;
  background-color: #ff5849;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
}

.lessPadding{
  padding: 5px;
}
