.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }

  .otherLogin {
    position: relative;
    margin-top: -14px;
    width: 100%;
    text-align: center;
    height: 9px;
    span {
      background-color: white;
      color: silver;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -20px;
    }
  }
}


.forgotPass {
  margin-bottom: 15px;
  position: relative;
  margin-top: -6px;
  cursor: pointer;
}

.otherLoginContainer {
  a {
    opacity: 1;
    color: #ffffff;
  }

  .mat-raised-button:nth-of-type(1) {
    background-color: #3B5998;
  }

  .mat-raised-button:nth-of-type(2) {
    background-color: #d34836;
  }
}

.login-help {
  font-size: 15px;
}

.insideLogin{
  position: absolute;
}

.fullWidth{
  width: 100%;
}


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  cursor: pointer;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    margin: 8px 11px 0 0;
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.2px;
    text-align: center;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}


.fb-button{
  color: white;
  padding-left: 2px;
  fa-icon{
    font-size: 46px;
  }
  span{
    font-size: 17px;
    font-weight: 700;
  }
}

