.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }

  .otherLogin {
    position: relative;
    margin-top: -14px;
    width: 100%;
    text-align: center;
    height: 9px;
    span {
      background-color: white;
      color: silver;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -20px;
    }
  }
}


.forgotPass {
  margin-bottom: 15px;
  position: relative;
  margin-top: -6px;
  cursor: pointer;
}

.otherLoginContainer {
  a {
    opacity: 1;
    color: #dfdfdf;
  }

  .mat-raised-button:nth-of-type(1) {
    background-color: #3B5998;
  }

  .mat-raised-button:nth-of-type(2) {
    background-color: #d34836;
  }
}

.login-help {
  font-size: 15px;
}

.insideLogin{
  position: absolute;
}

.fullWidth{
  width: 100%;
}


