<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <mat-tab-group [dynamicHeight]="true" #tabGroup>
      <mat-tab label="" #tab1 >
        <mat-card class="loginmodal-container">
          <h1 >Anmelden</h1>
          <br>
          <form (ngSubmit)="doLogin(loginForm)" #loginForm="ngForm">
            <mat-form-field class="fullWidth">
              <input type="email" email autofocus matInput autocomplete="email" ngModel #emailControl="ngModel" name="email" placeholder="Email">
              <mat-error [hidden]="emailControl.valid || emailControl.pristine" >
                Gib deine Email an
              </mat-error>
            </mat-form-field>
            <mat-form-field class="fullWidth">
              <input type="password" matInput autocomplete="current-password" required ngModel [minlength]="wantsRegister?7:0" name="password" placeholder="Passwort" #pass>
              <mat-error *ngIf="pass.errors && pass.errors.required">
                Du musst ein Passwort eingeben
              </mat-error>
              <mat-error *ngIf="wantsRegister && pass.errors && pass.errors.minlength">
                Dein Passwort muss länger sein ! (min. 7)
              </mat-error>
            </mat-form-field>
            <mat-form-field class="fullWidth" [@repeatPasswordShown]="wantsRegister?'true':'false'">
              <input type="password" matInput autocomplete="current-password" [app_hastobe]="pass.value" required ngModel name="password_repeat" #password_repeat  placeholder="Passwort wiederholen" >
              <mat-error *ngIf="loginForm.controls.password_repeat && loginForm.controls.password_repeat.errors && loginForm.controls.password_repeat.errors.notsame">
                Die Passwörter stimmen nicht überein
              </mat-error>
              <mat-error *ngIf="loginForm.controls.password_repeat && loginForm.controls.password_repeat.errors && loginForm.controls.password_repeat.errors.required">
                Du musst dein Passwort bestätigen
              </mat-error>
            </mat-form-field>
            <a class="text-info pull-right forgotPass" (click)="forgotPass()" [@repeatPasswordShown]="wantsRegister?'false':'true'">Passwort vergessen ?</a>
            <button  class="fullWidth" mat-raised-button="" type="submit" color="primary">
              <span class="insideLogin" [@loginText]="pendingState" >
                {{wantsRegister?'Registrieren':'Login'}}
              </span>
              <span class="insideLogin" [@loginPendingIcon]="pendingState" style="width: 35px"><fa-icon icon="sync" matSuffix [spin]="true" ></fa-icon></span>
              <span style="visibility:hidden" >{{wantsRegister?'Registrieren':'Login'}}</span>
            </button>
            <div>&nbsp;</div>
          </form>
          <hr>
          <div class="otherLogin" fxLayout="column" fxLayoutAlign="center center"><span class="otherLoginspan" >oder</span>
          </div>
          <br>
          <div class="otherLoginContainer" fxLayout="column" fxLayoutAlign="start stretch">
            <a style="margin-bottom: 3px;" mat-raised-button=""  (click)="facebookLogin()" >
              <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
              <span  style="margin-left:8px">Mit Facebook anmelden</span>
            </a>
            <a mat-raised-button="" (click)="googleLogin()">
              <fa-icon [icon]="['fab','google-plus-g']"></fa-icon>
              <span style="margin-left:8px">Mit Google anmelden</span></a>
          </div>
          <br/>
          <div class="login-help" fxLayout="column" fxLayoutAlign="center center">
            <mat-slide-toggle [checked]="wantsRegister" [labelPosition]="'before'" (change)="wantsRegister = $event.checked" class="fullWidth" >
              <span [ngSwitch]="wantsRegister" class="fullWidth">
                <span *ngSwitchCase="true">
                  Nur Anmelden ? Hier entlang !
                </span>
                <span *ngSwitchCase="false">
                  Noch keinen Account ? Jetzt Registrieren!
                </span>
              </span>
            </mat-slide-toggle>
          </div>
        </mat-card>

      </mat-tab>
      <mat-tab label="" [disabled]="true" #tab2>
        <mat-card class="loginmodal-container" style="width: 350px" >
          <h1 >Sag mir noch, wie man dich nennen soll</h1>
          <form (ngSubmit)="saveAdditionalInfo(addForm)" #addForm="ngForm" fxLayout="column">
            <mat-form-field class="fullWidth" fxFlexOffset="20px">
              <input type="text" autofocus matInput required ngModel #visibleNameControl="ngModel" [minlength]="3" name="visibleName" placeholder="sichtbarer Name für andere" >
              <mat-error [hidden]="visibleNameControl.errors && visibleNameControl.errors.required" >
                Gib einen Namen an
              </mat-error>
              <mat-error [hidden]="visibleNameControl.errors && visibleNameControl.errors.minlength && !visibleNameControl.errors.required" >
                Gib einen längeren Namen an
              </mat-error>
            </mat-form-field>
            <span fxLayout="column" fxLayoutAlign="start stretch" *ngIf="registeringWithEmail">
              <span fxFlexOffset="10px">Du hast die Ehre, eine URL eines Bildes anzugeben (E-Mail Variante nutzt eh keiner)</span>
            <mat-form-field>
              <input type="url" matInput="" placeholder="Url des Bildes (nicht allzu hochauflösend)" name="url" ngModel>
            </mat-form-field>
            </span>
            <button  class="fullWidth" mat-raised-button="" type="submit" color="primary" fxFlexOffset="20px" >
              <span class="insideLogin" [@loginText]="pendingAddState" >Fertigstellen</span>
              <span class="insideLogin" [@loginPendingIcon]="pendingAddState" style="width: 35px"><fa-icon icon="sync" matSuffix [spin]="true" ></fa-icon></span>
              <span style="visibility:hidden" >Fertigstellen</span>
            </button>
          </form>
        </mat-card>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>
