.welcomeContainer{
  height: 100%;
  position: relative;
}

.moreLink{
  font-size: 17px;
  font-family: Roboto,sans-serif;
  font-weight: normal;
  color: #64aaff;
  cursor: pointer;
}


.welcomeMessage{
  font-size: 36px;
  font-family: Monthoers, "Open Sans", sans-serif;
}

.fixedWidth{
  width: 650px;
}

.citeContainer{
  margin-bottom: 8px;
  cursor: pointer;
  .cite{
    width: 320px;
    .citeText{
      font-size:18px;
    }
    .quotemark{
      font-size: 25px;
    }
  }
}
