.title{
  font-family: Monthoers,Buxton, sans-serif;
  font-size: 31px;
}

.pName{
  font-size: 20px;
  font-family: Roboto, sans-serif;
  color: black;
}

.pTitle{
  font-family: Roboto, sans-serif;
  font-size: 31px;
  color:black;
}

.black{
  color: black;
}

.hint{
  font-size: 12px;
  color: grey;
}

.noMore{
  color: #ff1f19;
}

.paketCard{
  padding: 12px;
}
