<mat-sidenav-container>
  <mat-sidenav [mode]="'over'" #sidenav id="sideNav" (click)="sidenav.close()">
    <div class="User" *ngIf="(user|async)" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="start start">
        <span fxLayout="row" fxLayoutAlign="start center" style="overflow: hidden">
        <span class="image" >
          <img [src]="(user|async)?.photoUrl" />
        </span>
        <span class="name" fxFlexOffset="5px" fxLayoutAlign="start center">
          <span>{{(user|async)?.displayName}}</span>
        </span>
      </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxFlexOffset="10px">
        <div class="logoutButton" title="Logout" fxFlex="100">
          <button color="warn" (click)="logout()" fxFlex="100"><fa-icon icon="sign-out-alt"></fa-icon></button>
        </div>
      </div>
    </div>
    <span class="menu" fxLayout="column">
        <a [routerLink]="['/prices']" class="menuItem"><span>Preise</span></a>
        <a [routerLink]="['/book']" class="menuItem"><span>Buchen</span></a>
        <a [routerLink]="['/wishes']" class="menuItem"><span>GetrÄnkewÜnsche</span></a>
        <a [routerLink]="['/gallery']" class="menuItem"><span>Gallerie</span></a>
        <a [routerLink]="['/contact']" class="menuItem"><span>anfahrt</span></a>
        <a [routerLink]="['/admin']" routerLinkActive="active" class="menuItem adminButton" *ngIf="(user|async)?.admin"><span>Admin</span></a>
        <a (click)="login()" *ngIf="!(user|async)" class="menuItem">
          <span >login</span>
        </a>
      </span>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" fxLayoutAlign="start stretch" style="height: 100vh">
      <app-header (toggleNav)="sidenav.toggle()"></app-header>
      <div fxLayout="row" fxLayoutAlign="start stretch" fxFlexOffset="30px" fxFlex="auto" class="outerContainer">
        <div fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" fxFlex="94" fxFlexOffset="3" class="innerContainer" >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<simple-notifications></simple-notifications>
