/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Monthoers';
  src: url('./assets/fonts/Monthoers.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Buxton';
  src: url('./assets/fonts/buxton-sketch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PixelFont';
  src: url('./assets/fonts/PixelFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("/assets/wallpaper/wallpaper_kitchen_blurry.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  color: white;
}

html{
  min-height: 100vh;
}

.mat-dialog-content{
  padding: 0 !important;
  margin: 0 !important;
}


.mat-dialog-container{
  padding: 0 !important;
}


app-login-dialog{
  .mat-tab-label-container{
    display: none;
  }
}

.mat-slide-toggle-content{
  width: 100%;
}

mat-sidenav-container, mat-sidenav-content{
  height: 100vh;
}

.mat-drawer-container, #sideNav{
  background-color: inherit;
  color: white;
}

.simple-notification-wrapper{
  z-index: 10000;
}



.tooltip.bottom .tooltip-arrow {
  border-bottom-color: white;
}

.tooltip-inner{
  background-color: white;
  color: black;
  white-space: pre-wrap;
}


app-drink-wishes{
  .addForm{
    .addInput{
      margin-top: 14px;
      .mat-form-field-label {
        color: rgba(255, 255, 255, 0.54);
      }
      .mat-form-field-underline {
        background-color: rgba(245, 245, 245, 0.42);
      }
      .mat-placeholder-required{
        visibility: hidden;
      }
    }

  }
}

.logoutButton{
  fa-icon{
    svg{
      margin-bottom: 1px;
    }
  }
}

.simple-notification.bare{
  background-color: #0e0e0e;
}

.HTMLnotification{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: flex-start;
  align-items: flex-start;
  font-family: Roboto,sans-serif;
  .text{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    place-content: stretch flex-start;
    align-items: stretch;
    margin-left: 20px;
    margin-top: 10px;
    .title{
      font-size: 30px;
    }
    .body{
      margin-top:8px;
    }
  }
  .img{
    img{
      max-height: 70px;
      max-width: 70px;
    }
  }
}

.zusageStatus {
  .zusageIcon {
    .StatusNull {
      color: #ffffff;
    }
    .Status0 {
      color: #ff5d38;
    }
    .Status25 {
      color: #ffb65b;
    }
    .Status50 {
      color: grey;
    }
    .Status75 {
      color: #d9ed00;
    }
    .Status100 {
      color: #4cc208;
    }
  }
}

.zusageMenu {
  .mat-menu-content {
    padding: 0 !important;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 18%, rgb(255, 150, 105) 22%, rgb(255, 222, 103) 49%, rgb(228, 255, 95) 76%, rgb(153, 255, 137) 100%);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 18%, rgb(255, 150, 105) 22%, rgb(255, 222, 103) 49%, rgb(228, 255, 95) 76%, rgb(153, 255, 137) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 18%, rgb(255, 150, 105) 22%, rgb(255, 222, 103) 49%, rgb(228, 255, 95) 76%, rgb(153, 255, 137) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#99ff89', GradientType=0);
  }
  .zusage {
    fa-icon {
      margin-right: 10px;

    }
  }
}

app-admin-view .deleteButton fa-icon svg{
  margin-top: 4px;
}

app-booking mat-horizontal-stepper{
  border-radius: 3px;
}
