<div fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngIf="dayChart" fxFlex="300px">
    <canvas baseChart
            [datasets]="dayChart.data"
            [labels]="dayChart.labels"
            [options]="dayChart.options"
            [chartType]="'bar'"></canvas>
  </div>
  <div fxLayoutAlign="start stretch" fxLayout="column" fxFlexOffset="20px">
    <div *ngFor="let package of bookingPercentage" fxLayout="row" fxLayoutAlign="space-between start" fxFlex="150px">
      <canvas  baseChart fxFlex="50%"
               [data]="package.data.day1"
               [labels]="package.labels"
               [options]="package.options"
               [chartType]="'doughnut'">
      </canvas>
      <canvas  baseChart fxFlex="50%"
               [data]="package.data.day2"
               [labels]="package.labels"
               [options]="package.options"
               [chartType]="'doughnut'">
      </canvas>
    </div>
  </div>
</div>



